@model PartyInvites.Models.GuestResponse
@using MimeKit;
@using MailKit.Net.Smtp;
 
@{
Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
  <meta name="viewport" content="width=device-width" />
  <title>Thanks</title>
  <style>
    body { background-color: #F1F1F1; }
  </style>
</head>
<body>

@{
    try {
        var message = new MimeMessage();
        message.From.Add(new MailboxAddress("Lin", "linqiao1987@qq.com"));
        message.To.Add(new MailboxAddress("You", Model.Email));
        message.Subject = "Test RsvpForm";
        message.Body = new TextPart("Test RsvpForm in .Net Core")
        {
            Text = Model.Name + " is " + ((Model.WillAttend ?? false) ? "" : "not")+ "attending"
        };
        using (var client = new SmtpClient())
        {
            client.Connect("smtp.qq.com", 465, true);
            client.Authenticate("469655072@qq.com", "zxeevofqoqvybjii");
            client.Send(message);
            client.Disconnect(true);

        }


    } catch (Exception) {
            @:<b>Sorry - we couldn't send the email to confirm your RSVP.</b>
        }
    }

  <div class="text-center">
    <h1>Thank you, @Model.Name!</h1>
    <div class="lead">
      @if (Model.WillAttend == true) {
        @:It's great that you're coming. The drinks are already in the fridge!
      } else {
        @:Sorry to hear that you can't make it, but thanks for letting us know.
      }
      
     </div>
  </div>
</body>
</html>

